html {
  font-size: 100%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  color: #00252e;
  font-weight: 400;
  scroll-behavior: smooth; }

h1 {
  font-family: "Popins", sans-serif;
  font-size: calc( 24px + (48 - 24) * (100vw - 320px) / (1440 - 320)); }

h2 {
  font-family: "Popins", sans-serif; }

p {
  font-family: "Open Sans", sans-serif;
  line-height: 21px;
  font-size: calc( 13.8px + (16 - 13.8) * (100vw - 320px) / (1440 - 320)); }

a {
  text-decoration: none;
  font-size: calc( 9.1px + (16 - 9.1) * (100vw - 320px) / (1440 - 320)); }

.container {
  margin: 0 auto; }

.hero_btn, .ftr_btn {
  transition: all .2s;
  border: none;
  outline: none;
  background-color: #ff52bf;
  color: #FFF;
  font-weight: bold;
  cursor: pointer; }
  .hero_btn:hover, .ftr_btn:hover {
    background-color: #ff8fd8;
    scale: 1.03; }

.hero_btn {
  padding: 0.688rem 2.438rem 0.688rem 2.438rem;
  border-radius: 2.5rem;
  line-height: 1.125rem;
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 6.5rem; }
  @media screen and (min-width: 1000px) {
    .hero_btn {
      padding: 1.563rem 6.25rem;
      text-align: center;
      font-size: 1.25rem;
      line-height: 30px;
      margin-bottom: 7.5rem; } }

.ftr_btn {
  padding: 12px 41px;
  border-radius: 4px;
  font-size: 16px;
  width: 160px;
  line-height: 24px; }

.btn_link {
  color: #ff52bf;
  border: 1px solid;
  border-radius: 40px;
  background: #FFF;
  border-color: #ff52bf;
  padding: 5.29px 17.76px 5.24px 18.24px; }
  @media screen and (min-width: 1000px) {
    .btn_link {
      width: 136px;
      padding: 9px 30px;
      text-align: center;
      font-size: 16px; } }
  .btn_link:hover {
    color: #ff8fd8;
    border-color: #ff8fd8; }

input[type="email"] {
  width: 320px;
  height: 48px;
  font-size: 12px;
  line-height: 21px;
  text-align: left;
  padding: 12px 205px 12px 16px;
  cursor: pointer;
  outline: none;
  color: #00252e;
  border-radius: 5px;
  padding-bottom: 16px; }

footer


    span {
        font-family: "Open Sans", sans-serif;
        line-height: 24px;
    }


a {
  color: #FFF; }

footer h3 {
  font-size: calc( 20px + (24 - 20) * (100vw - 320px) / (1440 - 320));
  text-transform: uppercase;
  font-family: sans-serif;
  line-height: 30px; }

footer p {
  font-size: 14px;
  line-height: 1.5rem;
  text-align: left;
  padding-bottom: 32px;
  padding-top: 16px;
  max-width: 340px; }

.header_nav {
  max-width: 1440px;
  padding: 24px 24px 112px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (min-width: 1000px) {
    .header_nav {
      padding: 78px 63px 225px 80px; } }
  .header_nav .hdr_logo {
    width: 29.6%;
    height: auto;
    max-width: 240px; }

.hero {
  max-width: 1017px;
  display: flex;
  flex-direction: column;
  padding: 0px 40px 120px 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: clamp(320px, 85vw, 1017px); }
  .hero h1 {
    padding-bottom: 24px; }
  .hero p {
    font-size: calc( 13.8px + (20 - 13.8) * (100vw - 320px) / (1440 - 320));
    text-align: center;
    padding-bottom: 48px; }
  @media screen and (min-width: 1000px) {
    .hero h1 {
      line-height: 72px;
      width: 1014px;
      padding-bottom: 26px; }
    .hero p {
      max-width: 600px;
      padding-bottom: 49px;
      line-height: 30px; } }
  .hero img {
    width: clamp(296px, 75vw, 1016px);
    padding-left: 40px;
    padding-right: 40px; }

.diagram {
  max-width: 880px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0px 108px; }
  .diagram .dig img {
    display: flex;
    align-self: left;
    width: clamp(35px, 9vw, 56px); }
  .diagram .dig h1 {
    width: clamp(160px, 252px);
    font-size: calc( 59.95px + (96 - 59.95) * (100vw - 320px) / (1440 - 320));
    line-height: calc( 90px + (144 - 90) * (100vw - 320px) / (1440 - 320)); }
  .diagram .dig p {
    font-size: calc( 0.95rem + (9.8 - 0.95) * (100vw - 320px) / (1440 - 320));
    text-align: center;
    line-height: calc( 22px + (36 - 22) * (100vw - 320px) / (1440 - 320)); }
  @media screen and (min-width: 1000px) {
    .diagram {
      flex-direction: row;
      align-items: center;
      padding-left: 0;
      padding-right: 0;
      gap: 350px;
      margin-bottom: 133px; }
      .diagram .dig {
        justify-content: space-between;
        margin-bottom: 0; }
      .diagram img {
        display: flex;
        align-self: left; } }
  .diagram__left {
    margin-bottom: 5.552rem; }

.features .frtschld {
  padding-top: 180px; }

.features__growtg {
  max-width: 1400px;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 200px; }
  .features__growtg h2 {
    padding-bottom: 1rem;
    font-size: calc( 20px + (40 - 20) * (100vw - 320px) / (1180 - 320)); }
  .features__growtg p {
    font-size: calc( 14px + (15.6 - 14) * (100vw - 320px) / (1180 - 320)); }
  .features__growtg .growtg_right {
    width: clamp(320px, 65%, 560px); }
    .features__growtg .growtg_right img {
      width: 88.3%;
      padding-bottom: 40px;
      filter: blur(0);
      transition: .5s; }
  .features__growtg .growtg_left {
    width: clamp(320px, 50%, 560px); }
  @media screen and (min-width: 1000px) {
    .features__growtg {
      flex-direction: row;
      text-align: left;
      padding-left: 120px;
      padding-right: 120px;
      padding-bottom: 194px;
      padding-top: 0; }
      .features__growtg .leftimg {
        order: 1;
        padding-left: 3%; }
      .features__growtg .growtg_left {
        flex-basis: 50%; }
        .features__growtg .growtg_left h2 {
          font-size: 40px;
          line-height: 60px;
          padding-bottom: 24px;
          max-width: 520px; }
        .features__growtg .growtg_left p {
          max-width: 520px; }
      .features__growtg .growtg_right {
        flex-basis: 50%;
        text-align: right; }
        .features__growtg .growtg_right img {
          width: 100%;
          max-width: 517px;
          text-align: right; } }
  .features__growtg .rightrevimg {
    text-align: left; }

.features .last_child {
  padding-bottom: 0; }

.cta {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: calc( 280px + (296 - 280 ) * (100vw - 320px) / (1440 - 320));
  padding-left: 14px;
  padding-right: 14px; }
  .cta h2 {
    margin-bottom: 1.078em;
    line-height: calc( 36px + (60 - 36) * (100vw - 320px) / (1430 - 320));
    font-size: calc( 23px + (40.2 - 23) * (100vw - 370px) / (1430 - 370)); }

.footer {
  background-color: #00252e;
  color: #FFF; }
  .footer .footer_links .footer_svg svg {
    width: calc(min(max(20vw, 200px), 240px)); }
  .footer__wrapper {
    max-width: 1360px;
    padding: 54px 28px 48px 28px;
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr; }
    @media screen and (min-width: 700px) {
      .footer__wrapper {
        padding-left: 80px;
        padding-right: 80px;
        grid-template-columns: 1fr 1fr 1fr; }
        .footer__wrapper .footer__newsub {
          grid-column: 3 / span 1; }
        .footer__wrapper .footer_links {
          grid-column: 1 / span 1;
          grid-row: 1 / span 1; }
        .footer__wrapper .form {
          grid-column: 4/ span 1;
          grid-row: 1; } }
  .footer__bg {
    width: 100%;
    background-color: white; }
  .footer__newsub {
    margin-bottom: 104px; }
  .footer__social-icons {
    padding-top: 2.875rem; }
    .footer__social-icons svg {
      height: auto;
      width: calc(min(max(20vw, 20px), 35px));
      margin-right: 1rem; }
      .footer__social-icons svg * {
        fill: #FFF; }
      .footer__social-icons svg:hover {
        background-color: rgba(255, 82, 191, 0.8);
        border-radius: 20px; }
  .footer .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    justify-content: space-between; }
    @media screen and (min-width: 700px) {
      .footer .form {
        gap: 20px; } }
    @media screen and (min-width: 1000px) {
      .footer .form {
        flex-direction: row;
        gap: 20px;
        max-width: 50%; } }
  .footer .svg_firstch {
    padding-bottom: 1rem; }
  .footer span {
    margin-left: 1rem; }
