.footer {

    background-color: $ftrBckg;
    color: #FFF;

   
    .footer_links {
        .footer_svg {
           svg {
            // max-width: 270px;
            width: calc(min(max(20vw, 200px), 240px));
           }
        }
    }
      
 
   &__wrapper    {
       max-width: 1360px;
       padding: 54px 28px 48px 28px;
       display: grid;
       justify-items:start;
       grid-template-columns: 1fr;
           
        @include breakpoint(medium){
            padding-left: 80px;
            padding-right: 80px;
           grid-template-columns: 1fr 1fr 1fr;
        //    grid-template-rows: auto auto;
           
           .footer__newsub {
              grid-column:  3 / span 1;
            }           
           .footer_links {
              grid-column:  1 / span 1;
              grid-row: 1 / span 1;
            }
            .form {
                grid-column: 4/ span 1;
                 grid-row: 1;
            }
        }
    }
           


   

    &__bg {
        width: 100%;
        background-color:white;
    }
  

    &__newsub {
        margin-bottom: 104px;
    }

    &__social-icons {
        padding-top: 2.875rem;

        svg {
            // width: 1.438rem;
            height: auto;
            width: calc(min(max(20vw, 20px), 35px));
            margin-right: 1rem;

            & * {
          
         fill: #FFF;
              
            
            }
            &:hover {
                
                 background-color:  hsla(322, 100%, 66%, 0.8);
                border-radius: 20px;
            }
        }
   }  

   .form {
       display: flex;
      flex-direction: column;
      gap:20px;
      align-items: flex-end;
      @include breakpoint(medium){
     
         gap:20px;
     } 

     @include breakpoint(large){
        flex-direction: row;
        gap:20px;
        max-width: 50%;
    } 

      
       justify-content: space-between;
    //    button {
    //       align-self:auto;
    //    }
    //    input {
         
    //    }

   }
   .svg_firstch {
    padding-bottom: 1rem;
}    
 span {
     margin-left: 1rem;
 }
}
