.footer {

    background-color: $ftrBckg;
   color: #FFF;
   &__wrapper    {
       max-width: 1214px;
       padding: 109px 28px 48px 28px;
           display: grid;
        //    grid-template-columns: 1fr;
  
      
    
      
    //    padding-left:28px ;
      

   }

   &__bg {
 

    width: 100%;
  
    background-color:white;

}

}