html {
    font-size: 100%;
    // font-size: calc( 9.41px + (16 - 9.41) * (100vw - 320px) / (1440 - 320) ); 
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    color: $parHed;
    font-weight: 400;
    scroll-behavior: smooth;
}
   
h1 {
    font-family: $font-headings;
    font-size: calc( 24px + (48 - 24) * (100vw - 320px) / (1440 - 320) ); 
}

h2 {
    font-family: $font-headings;
}
    

p {
    font-family: $font-body;
    line-height: 21px;
    font-size: calc( 13.8px + (16 - 13.8) * (100vw - 320px) / (1440 - 320) ); 
}

a {
    text-decoration: none;
    font-size: calc( 9.1px + (16 - 9.1) * (100vw - 320px) / (1440 - 320) ); 
}



.container {
    margin: 0 auto;
}
 

// Buttons

%btn {
    border: none;
    outline: none;
    background-color:$btnBckg;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        background-color: $btnHvr;
     scale: 1.03;
     
    }
   
}
// Hero button
.hero_btn {
    @extend %btn;
    padding: 0.688rem 2.438rem 0.688rem 2.438rem;
    border-radius: 2.5rem;
    line-height:1.125rem ;
    font-size: 0.75rem;
    // width: 200px;
    // height: 40px;
    font-weight: bold;
    margin-bottom: 6.5rem;
   
    
    @include breakpoint(large) {
        // max-width: 400px;
        // height: 80px;
        padding: 1.563rem 6.25rem;
        text-align: center;
        font-size: 1.25rem;
        line-height: 30px;
        margin-bottom: 7.5rem;
    }

}

// Footer button   
.ftr_btn {

    @extend %btn;
    padding: 12px 41px;
    border-radius: 4px;
    font-size: 16px;
    width: 160px;
    line-height: 24px;
}
  
.btn_link {

    color:$btnBckg;
    border: 1px solid;
    border-radius: 40px;
    background: #FFF;
    border-color: $btnBckg;
    padding: 5.29px 17.76px 5.24px 18.24px;
   

    @include breakpoint(large) {
        width: 136px;
        padding: 9px 30px;
        text-align: center;
        font-size: 16px;
    }
}


input[type="email"] {
   width: 320px;
   height: 48px;
   font-size: 12px;
   line-height: 21px;
   text-align: left;
   padding:12px 205px 12px 16px;
   cursor: pointer;
   outline:none;
   color: $ftrBckg;
   border-radius: 5px;
   padding-bottom: 16px;
}
 

 

     
footer {
    a {
        color: #FFF;
    }
}
    
  
  
    



