html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    color: $parHed;
    font-weight: 400;
    overflow-x: hidden;

}

button {
    
}